<% if (currentUser !== undefined) { %>
<script>
	var currentUser = {
		id: '<%= currentUser.id %>',
		username: '<%= currentUser.username %>',
		email: '<%= currentUser.email %>',
		first_name: '<%= currentUser.first_name %>',
		createdAt: '<%= currentUser.createdAt %>',
		updatedAt: '<%= currentUser.updatedAt %>'
	};
</script>
<% } %>

<div 
	sy-nav-toggle
	id="sy-menu"
	class="sy-nav sy-app sy-effect"
>

	<div 
		id="sitenav"
		class="sy-nav-menu sitenav sy-effect" 
		ui-view="sitenav"
	>
	</div><!-- /.sitenav -->

	<div class="sitenav-push">
		<div class="sitenav-push-inner">
			<div class="header top" ui-view="header">
			</div><!-- /.header -->

			<div class="overlay" ui-view="overlay">
			</div><!-- /.overlay -->

			<div class="container" ui-view="main">
			</div><!-- /.container -->

			<div class="footer" ui-view="footer">
			</div><!-- /.footer -->

			<div class="back-to-top">
				<a ui-sref=""><p>Back to top</p></a>
			</div>
		</div>
	</div>
</div>