<% if (currentUser !== undefined) { %>
<script>
	var currentUser = {
		id: '<%= currentUser.id %>',
		username: '<%= currentUser.username %>',
		email: '<%= currentUser.email %>',
		first_name: '<%= currentUser.first_name %>',
		createdAt: '<%= currentUser.createdAt %>',
		updatedAt: '<%= currentUser.updatedAt %>'
	};
</script>
<% } %>

<div ng-include="'header/index.tpl.html'"></div>

<div class="header" ui-view="header">
</div><!-- /.header -->

<div class="overlay" ui-view="overlay">
</div><!-- /.container -->

<div class="container" ui-view="main">
</div><!-- /.container -->

<div class="footer" ui-view="footer">
</div><!-- /.footer -->